.cart-input-message {
    color: $redPrim;
}
.cart-page {
    &-main {
    }

    &-checkout {
        .cart-page-card-form-container {
            display: block !important;
        }
    }

    &-card {
        padding: 40px 133px;
        border: 1px solid var(--text-footer);
        background: var(--fff);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 12px;

        @include tabletLarge {
            padding: 40px;
        }

        @include tablet {
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-card-title {
        width: 50%;
        text-align: left;

        @include tabletLarge {
            width: 30%;
        }

        @include tablet {
            width: 100%;
        }
    }

    &-card-content {
        width: 50%;

        @include tabletLarge {
            width: 70%;
        }

        @include tablet {
            width: 100%;
        }

        input[type="checkbox"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            appearance: none;
            /* For iOS < 15 to remove gradient background */
            background-color: #fff;
            /* Not removed via appearance */
            margin: 0;
            font: $default-font;
            color: var(--black);
            width: 1.15em;
            height: 1.15em;
            border: 2px solid var(--black);
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
        }

        input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--form-control-color);
        }

        input[type="checkbox"]:checked::before {
            transform: scale(1);
            background-color: var(--red);
        }
    }

    &-card-form-container {
        padding: 32px;
        border: 1px solid var(--text-footer);
        background: var(--background);
        display: block;
        &.hidden {
            display: none;
        }
    }

    &-form__hint {
        margin-bottom: 4px;
    }

    &-form-field {
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
    }

    &-form__input {
        border: 1px solid var(--text-footer);
        background: var(--fff);
        height: 52px;
        width: 100%;
        padding: 16px;
        font-size: 16px;
        font-family: $default-font2;
        color: var(--black);
        font-weight: 400;

        &[type="textarea"] {
            height: auto;
        }

        @include tabletLarge {
            font-size: 14px;
        }
    }

    &-delivery-options-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        margin-bottom: 12px;

        &.disabled {
            span {
                color: var(--black);
            }
        }

        span {
            color: var(--black-100);
        }
    }

    &-delivery-options-item-pin {
        padding: 2px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--lines, #e3ebef);
        background: var(--background);
        gap: 8px;
        svg {
            width: 12px;
            height: 14px;
        }
    }

    &-delivery-options-city {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 12px;
        margin-top: 12px;

        &.disabled {
            p {
                color: var(--black);
            }
            span {
                color: var(--black);
            }
        }

        span {
            color: var(--black-100);
        }
    }

    &-working-hours-list {
        list-style: disc;
    }

    &-working-hours-item {
        list-style: disc inside none;
        display: list-item;
    }
}
