.single-news {
    &-item-wrap {
        position: relative;
        display: flex;
        background: $wc;
        border: 1px solid $border;
        padding: 60px 133px;
        gap: 194px;
        margin-bottom: 100px;

        @include tablet {
            padding: 30px 32px;
            margin-bottom: 60px;
            gap: 0;
           
        }

        @include mobile {
            padding: 16px;
            margin-bottom: 30px;
        }
    }
    &-item {
    }
    &-item__title {
        color: $bc;
        margin-bottom: 20px;
    }
    &-item__descr {
        color: $textLightGrey;
    }
    &-item__img-wrap {
        margin: 40px 0;
        max-width: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-item__img {
    }
    &-item__list {
        padding-left: 12px;
    }
    &-item__list-card {
        margin-top: 10px;
        list-style-type: disc;
        color: $textLightGrey;
    }
    &-item__date {
        color: $textLightGrey;
        display: flex;
        gap: 4px;

        @include tablet  {
            position: absolute;
            top: 15px;
            right: 30px;
        }

        @include mobile {
            top: 10px;
            left: 16px;
        }
    }
    &__subtitle {
        text-align: center;
        color: $bc2;
        margin-bottom: 20px;
    }
    &-item__btn {
        margin-top: 40px;
    }
}
